<script>
export default {
  name: 'full-page-doc',
  data() {
    return {
        links:[
              {href: 'https://github.com/grayrattus/futurama-student-website-project', value: 'futurama-student-website-project'},
        ],
        hugeAmountOfLinksTitle: 'Other projects I worked on',
        heading: 'Other projects I worked on',
        heroSectionText: "Technologies I use",
        labelsWithDescriptions: [
          {
            label: "Shell scripts, Git, HTML5, CSS, JavaScript",
            description: `These technologies I know the most. I spend many years to get familar with them so writing code while using them usually don't even require documentation`,
            smallText: '5+ years'
          },
          {
            label: "Typescript, Node.js, React, Java 7.8.11. PHP 7+, SQL, SQL/PSM, T-SQL, R, OpenCpu, RStudio, GSAP, Kubernetes, DOcker, Mapbox, Leaflet, TomTom",
            description: `Technologies from this group I used more than 3 years so I'm pretty familar with them I would not call myself an expert. Still as you can see I touched quite some technologies. I try not to focus on one specific technolgoy. Whenever I pick something I usually treat it just as a tool to solve some problem. As all tools without knowledge how to use it, it can be dangerous. That's why before writing code I try to make PoC and read whole documentation. (exception is C++ that I would love to read about but the mess...)`,
            smallText: '3+ years'
          },
          {
            label: "AWS, Azure, Redux, Angular 2+, C++ 11/14, Ruby, Machine Learning, NextJS, VueJS",
            description: `These are `,
            smallText: 'Up to 1 year'
          }
        ],
items:[
      { href:"https://tomtom.com", title: 'TomTom website', imgSrc: 'https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.amI_uhVBKaBexxm905L3EwHaFg%26pid%3DApi&f=1&ipt=18d6dceb742e1af1f0f352b962286465821cc3e7879c0f6158525001e2ae6a00&ipo=images', alt: '', description: 'For more than two years I was involved in process of continues improvements made on tomtom.com. I was a Senior Full Stack developer there and I mostly spend my time maintaining Azure architecture and developing front end pages with big influence of one of the most demanding designers I ever worked with. Guy was making crazy scroll animations that made me consider GSAP as the best library for this job. Currently scroll animations are one of the thinks I just love to do. If your website needs one feel free to contact me.'},
      {title: 'Altera Customs', imgSrc: 'https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.HVcrEMG5QNzAwpDJb983sQHaFg%26pid%3DApi&f=1&ipt=5cc19f4e0fc3cdf899b5c4604736f516498bd3b6cdda2968fe1576fc610d7168&ipo=images', alt: '', description: 'I made this website for owner of Altera Customs car workshop. It was designed with not much detail to animation so every interaction which is there was my own creation. Website was written in Next.js with CSS modules and GSAP. It was really fun project to work on!'},
      {title: 'Futurama thesis drama', imgSrc: 'https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimgix.ranker.com%2Flist_img_v2%2F3995%2F2863995%2Foriginal%2F2863995%3Fw%3D817%26h%3D427%26fm%3Djpg%26q%3D50%26fit%3Dcrop&f=1&nofb=1&ipt=6793ccbac4433ffbf9875101f78ba48a1162c1b70154456afb95e59c65443d03&ipo=images', alt: '', description: `I know it's hard to imagine but in 2021 I was still studying and during one of master course assignments we had to make landing page on any topics we wanted. I decided to go with Futurama which I love and learn some new things while developing it. It was my first project in Next.js and from beginning I started to love it's simplicity. I made full page transitions, speciall shop part with payments connection and GSAP animations. `}
]
    }
  }
}
</script>
<template>
  <horizontal-intro 
    imgSrc="https://img.hulu.com/user/v3/artwork/85bf4cc1-cd8b-4469-ad87-7289217a0b74?base_image_bucket_name=image_manager&base_image=ef75950e-cfdc-4dfc-87a2-82b2339a8374&region=US&format=jpeg&size=952x536"
    imgAlt="Futurama intro"
    imgDescription="Senior Full Stack Developer"
    bottomText="Artur Dziedziczak"
    />
  <vertical-hero-description :heroSectionText="heroSectionText" :labelsWithDescriptions="labelsWithDescriptions" />
  <portfolio-gallery :items="items" :heading="heading" />
  <huge-amount-of-links :links="links" :title="hugeAmountOfLinksTitle" />
</template>
