<template>
  <horizontal-intro 
    imgSrc="https://img.hulu.com/user/v3/artwork/85bf4cc1-cd8b-4469-ad87-7289217a0b74?base_image_bucket_name=image_manager&base_image=ef75950e-cfdc-4dfc-87a2-82b2339a8374&region=US&format=jpeg&size=952x536"
    imgAlt="Futurama intro"
    imgDescription="Senior Full Stack Developer"
    bottomText="Artur Dziedziczak"
    />
</template>
