<template>
  <Content />
</template>

<style>

h1, h2, h3, h4, h5 {
  border: none;
}

@font-face {
  font-family: "PoiretOneRegular";
  src: url("/fonts/Poiret_One/PoiretOne-Regular.ttf");
}
@font-face {
  font-family: "RobotoCondensedBold";
  src: url("/fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf");
}
@font-face {
  font-family: "RobotoCondensedBoldItalic";
  src: url("/fonts/Roboto_Condensed/RobotoCondensed-BoldItalic.ttf");
}
@font-face {
  font-family: "RobotoCondensedItalic";
  src: url("/fonts/Roboto_Condensed/RobotoCondensed-Italic.ttf");
}
@font-face {
  font-family: "RobotoCondensedLight";
  src: url("/fonts/Roboto_Condensed/RobotoCondensed-Light.ttf");
}
@font-face {
  font-family: "RobotoCondensedLightItalic";
  src: url("/fonts/Roboto_Condensed/RobotoCondensed-LightItalic.ttf");
}
@font-face {
  font-family: "RobotoCondensedRegular";
  src: url("/fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf");
}
@font-face {
  font-family: "RubikMonoOneRegular";
  src: url("/fonts/Rubik_Mono_One/RubikMonoOne-Regular.ttf");
}
</style>
