<script>

export default {
  name: 'global-styles'
}
</script>

<style>


body {
  font-size: 16px;
  --font-xs: 0.6em;
  --font-sm: 0.8em;
  --font-m: 1em;
  --font-l: 1.2em;
  --font-xl: 1.4em;

  --vg-brand-light: #4abf8a;
  --vg-bg: #ffffff;
  --vg-bg-light: #f3f4f5;
  --vg-bg-lighter: #eeeeee;
  --vg-bg-navbar: var(--c-bg);
  --vg-bg-sidebar: var(--c-bg);
  --vg-bg-arrow: #cccccc;
  --vg-text: #2c3e50;
  --vg-text-accent: var(--c-brand);
  --vg-text-light: #3a5169;
  --vg-text-lighter: #4e6e8e;
  --vg-text-lightest: #6a8bad;
  --vg-text-quote: #999999;
  --vg-border: #eaecef;
  --vg-border-dark: #dfe2e5;
  --vg-tip: #42b983;
  --vg-tip-bg: var(--c-bg-light);
  --vg-tip-title: var(--c-text);
  --vg-tip-text: var(--c-text);
  --vg-tip-text-accent: var(--c-text-accent);
  --vg-warning: #e7c000;
  --vg-warning-bg: #fffae3;
  --vg-warning-title: #ad9000;
  --vg-warning-text: #746000;
  --vg-warning-text-accent: var(--c-text);
  --vg-danger: #cc0000;
  --vg-danger-bg: #ffe0e0;
  --vg-danger-title: #990000;
  --vg-danger-text: #660000;
  --vg-danger-text-accent: var(--c-text);
  --vg-details-bg: #eeeeee;
  --vg-badge-tip: var(--c-tip);
  --vg-badge-warning: var(--c-warning);
  --vg-badge-danger: var(--c-danger);

  --vg-breakpoint-mobile: 480px;
  --vg-breakpoint-tablet: 768px;
  --vg-breakpoint-desktop: 1200px;

  --vg-main-content-padding: 2em;
}

.font-xs {
  font-size: var(--font-xs);
}

.font-sm {
  font-size: var(--font-sm);
}

.font-m {
  font-size: var(--font-m);
}

.font-l {
  font-size: var(--font-l);
}

.font-xl {
  font-size: var(--font-xl);
}

.font-poiret-one-regular {
  font-family: 'PoiretOneRegular';
  color: var(--vg-text);
}

.font-roboto-bold {
  font-family: 'RobotoCondensedBold';
  color: var(--vg-text);
}

.font-roboto-bold-italic {
  font-family: 'RobotoCondensedBoldItalic';
  color: var(--vg-text);
}

.font-roboto-condensed-italic {
  font-family: 'RobotoCondensedItalic';
  color: var(--vg-text);
}

.font-roboto-condensed-light {
  font-family: 'RobotoCondensedLight';
  color: var(--vg-text);
}

.font-roboto-condensed-light-italic {
  font-family: 'RobotoCondensedLightItalic';
  color: var(--vg-text);
}

.font-roboto-condensed-regular {
  font-family: 'RobotoCondensedRegular';
  color: var(--vg-text);
}

.font-rubik-mono-one-regular {
  font-family: 'RubikMonoOneRegular';
  color: var(--vg-text);
}

@media screen and (min-width: 480px) {
  .font-xs {
    font-size: var(--font-xs);
  }

  .font-sm {
    font-size: var(--font-sm);
  }

  .font-m {
    font-size: var(--font-m);
  }

  .font-l {
    font-size: var(--font-l);
  }

  .font-xl {
    font-size: var(--font-xl);
  }
}

</style>
