<script>
import { onMounted, ref } from 'vue';
import gsap from 'gsap';
import ScrollTrigger from 'gsap/ScrollTrigger';
import TextReveal from './TextReveal.vue';

export default {
  name: 'horizontal-intro',
  props: ['imgSrc', 'imgDescription', 'imgAlt', 'bottomText'],
  mounted() {
    const timeline = gsap.timeline().to(this.$refs.horizontal, { x: () => -(this.$refs.horizontal.scrollWidth / 2) + "px" }, '<');

    gsap.registerPlugin(ScrollTrigger)

    ScrollTrigger.create({
      trigger: this.$refs.horizontal,
      animation: timeline,
      invalidateOnRefresh: true,
      // markers: true,
      pin: true,
      scrub: 0.2,
      end: () => "+=" + this.$refs.horizontal.offsetWidth / 2
    });

    ScrollTrigger.create({
      trigger: '.horizontal-intro__wrapper',
      animation: this.timelineRef,
      invalidateOnRefresh: true,
      markers: true,
      pinSpacing: false,
      scrub: 1,
      // start: `top+=${this.$refs.horizontal.offsetWidth / 4}px`,
      start: 'top+=33.3% top',
      end: `bottom bottom`,
    });
  },
  data() {
    const firstPart = 'Experienced and focused on'.split('').map((t) => `<span class='letter'>${t}</span>`).join('');
    const middlePart = '<span class="small-letter">technologies considered old and not hyped but really prepared for real life problems</span>';
    const secondPart = ' technologies'.split('').map((t) => `<span class='letter'>${t}</span>`).join('');

    const splitText = firstPart + `<br /><span class="small-text">${middlePart}</span><span>"Shark"</span><br />` + secondPart;

    return {
      actionText: splitText,
      timelineRef: gsap.timeline()
    }
  }
}
</script>

<template>
  <div class="horizontal-intro__wrapper">
    <div ref="horizontal" class="horizontal-intro">
      <div class="horizontal-intro__image">
        <img :src="imgSrc" :alt="imgAlt" />
        <p class="horizontal-intro__img-description">{{ imgDescription }}</p>
        <div ref="author" class="horizontal-intro__text">
          <h1>{{ bottomText }}</h1>
        </div>
      </div>
      <div ref="horizontalIntroDescription" class="horizontal-intro__description">
        <text-reveal :htmlText="actionText" :timelineRef="timelineRef" />
      </div>
    </div>
  </div>
</template>

<style>
.horizontal-intro {
  width: 200vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.horizontal-intro__text  {
  font-family: PoiretOneRegular;
  display: flex;
  height: 100%;
  align-items: flex-end;
}

.horizontal-intro__wrapper {
  overflow: hidden;
}

.horizontal-intro__description  {
  display: flex;
  justify-content: center;
  width: 100vw;
  padding: var(--vg-main-content-padding);
}

.horizontal-intro__image {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.horizontal-intro__image img {
  height: calc(100vh - 300px);
  max-width: 100vw;
  object-fit: cover;
}

.letter {
  opacity: 0.3;
  position: relative;
}

.small-text {
  position: relative;
}

.small-letter {
  font-size: 0.2em;
  position: absolute;
  bottom: -1em;
  width: calc(100vw - var(--vg-main-content-padding));
}

@media screen and (min-width: 480px) {
  .small-letter {
    width: 50vw;
  }
}
</style>
