<script>

export default {
  name: 'huge-amount-of-links',
  props: ['links', 'title'],
}
</script>

<template>
    <div class="huge-amount-of-links">
      <div class="huge-amount-of-links__links font-poiret-one-regular">{{ title }}</div>
      <div class="huge-amount-of-links__links font-rubik-mono-one-regular">
        <a v-for="link in links" :href="link.href">{{ link.value }}</a>
      </div>
  </div>
</template>

<style>

.huge-amount-of-links__links {
  font-size: 5vw;
  width: 100vw;
  position: relative;
}

.huge-amount-of-links__links a {
  word-break: break-all;
  transition: color 0.5s linear;
  color: var(--vg-text);
}

.huge-amount-of-links__links a:hover {
  color: var(--vg-text-lighter);
}

.huge-amount-of-links__links a:visited {
  color: var(--vg-text-lighter);
  text-decoration-line: line-through;
}

</style>
