<script>

export default {
  name: 'labels-with-description',
  props: ['labelsWithDescriptions']
}
</script>

<template>
  <div class="labels-with-description">
    <article class="labels-with-description__content" v-for="labelWithDescription in labelsWithDescriptions" :key="text">
        <strong class="labels-with-description__label font-rubik-mono-one-regular">{{ labelWithDescription.label }} </strong>
        <div class="labels-with-description__description font-sm font-poiret-one-regular">
          <div class="labels-with-description__description-wrapper font-xl font-poiret-one-regular">
            <span class="labels-with-description__small-text"> {{ labelWithDescription.smallText}}</span>
            {{ labelWithDescription.description }} 
          </div>
        </div>
    </article>
  </div>
</template>

<style>

.labels-with-description {
  position: relative;
}

.labels-with-description__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10%;
}

.labels-with-description__label {
  font-size: var(--font-m);
  width: 100%;
}

.labels-with-description__small-text {
  position: absolute;
  left: 0;
  bottom: 0;
}

.labels-with-description__description-wrapper {
  width: 100%;
  padding: var(--vg-main-content-padding);
}

.labels-with-description__description {
  width: 100%;
  max-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 480px) {
  .labels-with-description__content {
    flex-direction: row;
  }

  .labels-with-description__label {
    font-size: 5em;
    width: 45%;
  }

  .labels-with-description__description {
    width: 55%;
    max-height: 100vh;
    position: sticky;
    top: 0;
  }

  .labels-with-description__description-wrapper {
    width: 30%;
  }

  .labels-with-description__small-text {
    top: 2em;
  }

}

</style>
