<script>
import gsap from 'gsap';

export default {
  name: 'portfolio-gallery',
  props: ['items'],
  mounted() {
    const mql = window.matchMedia('(max-width: 600px)');

    function screenTest(e) {
      if (e.matches) {
        gsap.to(document.querySelector('.portfolio-galery__image--0'), { x: '0', y: '0', width: '21vw', height: '21vw', duration: 1 });
        gsap.to(document.querySelector('.portfolio-galery__image--1'), { x: '0', y: '0', width: '21vw', height: '21vw', duration: 1 });
        gsap.to(document.querySelector('.portfolio-galery__image--2'), { x: '0', y: '0', width: '21vw', height: '21vw', duration: 1 });

        gsap.to(document.querySelector('.portfolio-galery__image--0 .portfolio-galery__description'), { opacity: 0 });
        gsap.to(document.querySelector('.portfolio-galery__image--1 .portfolio-galery__description'), { opacity: 0 });
        gsap.to(document.querySelector('.portfolio-galery__image--2 .portfolio-galery__description'), { opacity: 0 });
      } else {
        console.log('the viewport is more than 600 pixels wide '); 
      }
    }

    mql.addEventListener('change', screenTest);
  },
  methods: {
    onImageMouseEnter(el) {
      switch (el.target.classList[1]) {
        case ('portfolio-galery__image--0'):
          gsap.to(document.querySelector('.portfolio-galery__image--0'), {x: '-5vw', y: '-5vw', width: '30vw', height: '30vw', duration: 1});
          gsap.to(document.querySelector('.portfolio-galery__image--1'), {x: '10vw', y: '10vw', width: '21vw', duration: 1});
          gsap.to(document.querySelector('.portfolio-galery__image--2'), {x: '10vw', y: '10vw', width: '21vw', duration: 1});

          gsap.to(document.querySelector('.portfolio-galery__image--0 .portfolio-galery__description'), { opacity: 1 });
          gsap.to(document.querySelector('.portfolio-galery__image--1 .portfolio-galery__description'), { opacity: 0 });
          gsap.to(document.querySelector('.portfolio-galery__image--2 .portfolio-galery__description'), { opacity: 0 });
          break;
        case ('portfolio-galery__image--1'):
          gsap.to(document.querySelector('.portfolio-galery__image--0'), {x: '-10vw', y: '-10vw', width: '21vw', duration: 1});
          gsap.to(document.querySelector('.portfolio-galery__image--1'), {x: '-5vw', y: '-5vw', width: '30vw', height: '30vw', duration: 1});
          gsap.to(document.querySelector('.portfolio-galery__image--2'), {x: '10vw', y: '10vw', width: '21vw', duration: 1});

          gsap.to(document.querySelector('.portfolio-galery__image--0 .portfolio-galery__description'), { opacity: 0 });
          gsap.to(document.querySelector('.portfolio-galery__image--1 .portfolio-galery__description'), { opacity: 1 });
          gsap.to(document.querySelector('.portfolio-galery__image--2 .portfolio-galery__description'), { opacity: 0 });
          break;
        case('portfolio-galery__image--2'):
          gsap.to(document.querySelector('.portfolio-galery__image--0'), {x: '-10vw', y: '-10vw', width: '21vw', duration: 1});
          gsap.to(document.querySelector('.portfolio-galery__image--1'), {x: '-10vw', y: '-10vw', width: '21vw', duration: 1});
          gsap.to(document.querySelector('.portfolio-galery__image--2'), {x: '-5vw', y: '-5vw', width: '30vw', height: '30vw', duration: 1});

          gsap.to(document.querySelector('.portfolio-galery__image--0 .portfolio-galery__description'), { opacity: 0 });
          gsap.to(document.querySelector('.portfolio-galery__image--1 .portfolio-galery__description'), { opacity: 0 });
          gsap.to(document.querySelector('.portfolio-galery__image--2 .portfolio-galery__description'), { opacity: 1 });
          break;
      };
    },
    onImageMouseLeave(el) {
      gsap.to(document.querySelector('.portfolio-galery__image--0'), { x: '0', y: '0', width: '21vw', height: '21vw', duration: 1 });
      gsap.to(document.querySelector('.portfolio-galery__image--1'), { x: '0', y: '0', width: '21vw', height: '21vw', duration: 1 });
      gsap.to(document.querySelector('.portfolio-galery__image--2'), { x: '0', y: '0', width: '21vw', height: '21vw', duration: 1 });

      gsap.to(document.querySelector('.portfolio-galery__image--0 .portfolio-galery__description'), { opacity: 0 });
      gsap.to(document.querySelector('.portfolio-galery__image--1 .portfolio-galery__description'), { opacity: 0 });
      gsap.to(document.querySelector('.portfolio-galery__image--2 .portfolio-galery__description'), { opacity: 0 });
    }
  }
}
</script>

<template>
    <div class="portfolio-gallery">
      <div class="portfolio-gallery__cards">
        <div class="portfolio-galery__card" v-for="(item, index) in items" :key="text">
          <div v-on:mouseenter="onImageMouseEnter" v-on:mousedown="onImageMouseDown" v-on:mouseleave="onImageMouseLeave" :class="`portfolio-galery__image portfolio-galery__image--${index}`">
            <a class="portfolio-galery__image-container" :href="item.href">
              <img :src="item.imgSrc" />
              <span class="font-roboto-condensed portfolio-galery__title font-poiret-one-regular">{{item.title}}</span>
              <span :class="`portfolio-galery__description font-poiret-one-regular portfolio-galery__description--${index}`">{{item.description}}</span>
            </a>
          </div>
        </div>
      </div>
  </div>
</template>

<style>

.portfolio-galery {
  pointer-events: none;
}

.portfolio-galery__image-container {
  position: relative;
}

.portfolio-galery__title {
  position: relative;
}

.portfolio-galery__image {
  position: relative;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .portfolio-gallery__button-wrapper {
    position: relative;
  }

  .portfolio-gallery a {
    color: var(--vg-text);
  }

  .portfolio-gallery {
    position: relative;
    width: 100%;
    height: 80vw;
  }

  .portfolio-gallery__cards {
    position: relative;
    margin-left: 20vw;
    margin-right: 20vw;
  }

  .portfolio-galery__image-container {
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 100%;
  }

  .portfolio-galery__title {
    position: absolute;
    bottom: -1em;
    right: -1.5em;
    transform-origin: top right;
    transform: rotateZ(90deg);
  }

  .portfolio-galery__image {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(21vw);
    height: calc(21vw);
  }

  .portfolio-galery__image--0 {
    top: 0;
    left: 0;
  }

  .portfolio-galery__image--1 {
    top: calc(21vw);
    left: calc(21vw);
  }

  .portfolio-galery__image--2 {
    top: calc((21vw) * 2);
    left: calc((21vw) * 2);
  }

  .portfolio-galery__description {
    position: absolute;
    bottom: -1em;
    opacity: 0;
    width: 30vw;
  }

  .portfolio-galery__description--0 {
    left: calc(100% + 2em);
    bottom: 0;
  }

  .portfolio-galery__description--1 {
    width: 15vw;
    right: calc(100%);
    bottom: 0;
  }

  .portfolio-galery__description--2 {
    width: 30vw;
    right: calc(100%);
    bottom: 0;
  }

  .portfolio-galery__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;

  }
}

</style>
