<script>
import ScrollTrigger from 'gsap/ScrollTrigger';
import gsap from 'gsap';

export default {
  name: 'text-reveal',
  props: ['htmlText', 'timelineRef'],
  mounted() {
    this.timelineRef.to(this.$refs.text.querySelectorAll('.letter'), { opacity: 1, y: 300, stagger: 0.2 });
    ScrollTrigger.refresh();
  }
};
</script>

<template>
  <div ref="text" class="text-reveal" v-html="htmlText"></div>
</template>

<style>
.text-reveal {
  font-family: RubikMonoOneRegular;
  font-size: 2.5em;
}

@media screen and (min-width: 480px) {
  .text-reveal {
    font-size: 5em;
  }
}

</style>
