<script>
import LabelsWithDescription from './LabelsWithDescription.vue';
import gsap from 'gsap';

export default {
  name: 'vertical-hero-description',
  props: ['heroSectionText', 'labelsWithDescriptions'],
  components: { LabelsWithDescription },
  methods: {
    onButtonBlendLeave(el) {
      gsap.to(this.$refs.buttonBlend, { css: { left: window.innerWidth / 2 - window.innerWidth * 0.3 / 2, top: this.$refs.buttonBlend.style.top }});
    },
    onButtonBlendEnter(el) {
      const topOffset = el.layery - window.innerwidth * 0.3 / 2
      gsap.to(this.$refs.buttonBlend, {css: {left: el.layerX - window.innerWidth * 0.3 / 2, top: topOffset }});
    },
    onButtonBlendMove(el) {
      let topOffset = el.layerY;
      if (topOffset - window.innerWidth * 0.3 / 2 <= 0) {
        topOffset += window.innerWidth * 0.3 / 2;
      } else if (topOffset + window.innerWidth * 0.3 / 2 >= this.$refs.verticalHeroDescription.getBoundingClientRect().height - window.innerWidth * 0.3 / 2) {
        topOffset -= window.innerWidth * 0.3 / 2;
      }
      gsap.to(this.$refs.buttonBlend, {css: {left: el.layerX - window.innerWidth * 0.3 / 2, top: topOffset - window.innerWidth * 0.3 / 2}});
    }
  }
}
</script>

<template>
  <div ref="verticalHeroDescription" v-on:mouseenter="onButtonBlendEnter" v-on:mouseleave="onButtonBlendLeave" v-on:mousemove="onButtonBlendMove" class="vertical-hero-description">
    <article class="vertical-hero-description__hero-section">
      <h2 class="vertical-hero-description__hero-section-text font-roboto-bold">{{ heroSectionText }}</h2>
      <LabelsWithDescription :labelsWithDescriptions="labelsWithDescriptions"/>
    </article>
    <div class="vertical-hero-description__button-wrapper">
      <div class="vertical-hero-description__button-relative">
        <div ref="buttonBlend" class="vertical-hero-description__button-blend">
          <div class="vertical-hero-description__button-blend-container">
            <div class="vertical-hero-description__button-blend-follower vertical-hero-description__button-blend-1"></div>
            <div class="vertical-hero-description__button-blend-follower vertical-hero-description__button-blend-2"></div>
            <div class="vertical-hero-description__button-blend-follower vertical-hero-description__button-blend-3"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style>
.vertical-hero-description {
  padding: var(--vg-main-content-padding);
  cursor: none;
  position: relative;
}

.vertical-hero-description__hero-section {
  pointer-events: none;
}

.vertical-hero-description__hero-section-text {
  text-align: end;
  margin-right: 20%;
}

.vertical-hero-description__button-blend {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: calc(100vw / 2 - 15vw);
}

.vertical-hero-description__button-wrapper {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.vertical-hero-description__button-relative {
  position: relative;
  width: 100%;
  height: 100%;
}

.vertical-hero-description__button-blend-container {
  position: relative;
  width: 30vw;
  height: 30vw;
}

.vertical-hero-description__button-blend-follower {
  border-radius: 100%;
}

.vertical-hero-description__button-blend-1 {
  background: red;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  mix-blend-mode: screen;
}

.vertical-hero-description__button-blend-2 {
  background: blue;
  position: absolute;
  opacity: 1;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
  mix-blend-mode: screen;
}

.vertical-hero-description__button-blend-3 {
  background: yellow;
  position: absolute;
  opacity: 1;
  left: 30%;
  top: 30%;
  width: 40%;
  height: 40%;
  mix-blend-mode: multiply;
}

@media screen and (max-width: 480px) {
  .vertical-hero-description__button-wrapper {
    display: none;
  }
}

</style>
